<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/selectionstyle.css">
    <title>Service Selection</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const submitButton = document.getElementById("submit_service");
            const customizationOptions = document.getElementById("customizationOptions");
            const serviceOptions = document.querySelectorAll(".serviceOption input[type=checkbox]");
            const priceBreakdown = document.getElementById("priceBreakdown");
            const payment = document.getElementById("payment");
            const calendar = document.getElementById("calendar");
            const appointmentScheduling = document.getElementById("appointmentScheduling");
            const bookNow = document.getElementById("bookNowBtn");
            

            bookNow.style.display = "none";
            customizationOptions.style.display = "none";
            priceBreakdown.style.display = "none";
            payment.style.display = "none";
            calendar.style.display = "none";
            appointmentScheduling.style.display = "none";

            submitButton.addEventListener("click", function() {
                let selectedService = false;
                serviceOptions.forEach(function(option) {
                    if (option.checked) {
                        selectedService = true;
                    }
                });

                if (selectedService) {
                    customizationOptions.style.display = "block";
                } else {
                    alert("Please select at least one service option.");
                }
            });

            document.getElementById("submit_stylist").addEventListener("click", function() {
                priceBreakdown.style.display = "block";
                payment.style.display = "block";
                calendar.style. display = "block";
                appointmentScheduling.style.display = "block";
                bookNow.style.display = "block";

            });

            let selectedServices = [];
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const finalTotalInput = document.querySelector("#finalTotal input[name='price']");
            var prices = {
                1: 500,
                2: 1000,
                3: 500,
                4: 2500,
                5: 2500,
                6: 1500,
                7: 2000
            };
            
            function updateCustomizationOptions() {
                var selectedBarberServices = ['1', '2', '3', '6'];
                var selectedStylistServices = ['4', '5', '6', '7'];
                var showHaircutCustomization = false;
                var showHairDoCustomization = false;

                // Check if any of the selected services match barber services
                selectedServices.forEach(function(service) {
                    if (selectedBarberServices.includes(service)) {
                        showHaircutCustomization = true;
                    }
                });

                // Check if any of the selected services match stylist services
                selectedServices.forEach(function(service) {
                    if (selectedStylistServices.includes(service)) {
                        showHairDoCustomization = true;
                    }
                });

                // Hide or show the customization options based on selected services
                if (showHaircutCustomization) {
                    document.getElementById('haircutCustomization').style.display = 'block';
                } else {
                    document.getElementById('haircutCustomization').style.display = 'none';
                }

                if (showHairDoCustomization) {
                    document.getElementById('hairDoCustomization').style.display = 'block';
                } else {
                    document.getElementById('hairDoCustomization').style.display = 'none';
                }
            }

            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('click', function() {
                    if (this.checked) {
                        selectedServices.push(this.value);
                    } else {
                        let index = selectedServices.indexOf(this.value);
                        if (index !== -1) {
                            selectedServices.splice(index, 1);
                        }
                    }

                    let priceMatch = selectedServices.map(key => prices[key]);
                    finalTotalInput.value = priceMatch.reduce((accumulator, currentValue) => accumulator + currentValue, 0);
                    updateCustomizationOptions();
                });
            });
        });
    </script>

</head>

<body>
    {%if appointments['status'] != 'active'%}
        <header>
            <h1>Service Selection for Customers</h1>
        </header>

        <section id="serviceSelection">
            {% if error%}
                <h3 class="error">{{error}}</h3>
            {%endif%}
            <a href="{{url_for('routes.dashboard')}}"><button type="button">Back to Dashboard</button></a>

            <form method="post" >
                <h2>Select Your Service(s)</h2>
                <div class="serviceContainer">
                    {% for item in services %}
                        <div class="serviceOption">
                            <input type="checkbox" id="{{item['service_tag']}}"  name="service" value="{{item['id']}}">
                            <label for="{{item['service_tag']}}">
                                <span class="service_label"><span class="label_bold">Service : </span>{{item['service']}}</span>
                                <span class="price_label"><span class="label_bold">Price : </span>{{item['price']}} </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
        
                <button id="submit_service" type="button">Submit Services</button>

                <div class="customizationOptions" id="customizationOptions" >
                    <h3>Customization Options</h3>
                    <div id="haircutCustomization" >
                        <div id="prefbarber" >
                            <h4>Barber Selection</h4>
                            <p>Choose your preferred barber:</p>
                            <select id="barbers" name="barbers">
                                <option value="1">Robert Bailey</option>
                                <option value="2">Oakland Porter</option>
                                <option value="3">Roshaun Porter</option>
                            </select>
                        </div>
                    </div>
        
                    <div id="hairDoCustomization" >
        
                        <div id="prefstylist" >
                            <h4>Hair Stylist Selection</h4>
                            <p>Choose your preferred hair stylist:</p>
                            <select id="stylist" name="stylist">
                                <option value="4">Felecia Hembram</option>
                                <option value="5">Stephannie James</option>
                                <option value="6">Jennifer Mcfarlene</option>
                            </select>
                        </div>
        
                    </div>
        
                    <!-- <div id="hairColouringCustomization" >
                        <h4>Hair Dye</h4>
                        <p>Choose Hair Colour:</p>
                        <select id="hairColour">
                            <option value="black">Black</option>
                            <option value="brown">Brown</option>
                            <option value="blonde">Blonde</option>
                            <option value="red">Red</option>
                        </select>
                    </div> -->
        
                    <button id="submit_stylist" type="button">Complete Customization</button>
                </div>            


                <div id="priceBreakdown" >
                    <h3>Price Breakdown</h3>
                    <ul id="selectedServicesList"></ul>
                    <div id="finalTotal">
                        <p >Total:</p>
                        <input type="text" value="1000" name="price" readonly>
                    </div>
                </div>
            
                <div id="payment" >
                    <label for="payment"><h3>Payment Method:</h3></label>
                    <select id="payment" name="payment" required>
                        <option value="">--Please choose an option--</option>
                        <option value="cash">Cash</option>
                        <option value="credit">Credit Card</option>
                        <option value="debit">Debit Card</option>
                    </select>
                </div>
        
        
                <div id="calendar" >
                    <h3>Availability Calendar</h3>
                    <table id="availabilityCalendar">
                        <thead>
                            <tr>
                                <th>Time</th>
      
                                {%for day in date.getWeek()%}
                                    <th class="{{date.isToday(day)}}" value="{{day}}">{{date.getWeekDays(day)}}</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {%for time in times%}
                                <tr>
                                    <td>{{time}}</td>
                                    {%for day in date.getWeek()%}
                                        {%if day in time_date.keys()%}
                                            <td class="{{date.isToday(day)}} booked_{{time in time_date[day]}}" value="{{day}}">{{'Booked' if time in time_date[day] else 'Availabile'}}</td>
                                        {%else%}
                                            <td class="{{date.isToday(day)}} booked_{{time in time_date[day]}}" value="{{day}}">Availabile</td>
                                        {%endif%}
                                    {%endfor%}
                                </tr>
                            {%endfor%}
                            
                        </tbody>
                    </table>
                </div>
                
                <div id="appointmentScheduling" >
                    <h3>Schedule Appointment</h3>
                    <label for="appointmentDate">Date:</label>
                    <select id="appointmentDate" name="appointmentDate" required>
                        {%for day in date.getWeek()%}
                            <option class="{{date.isToday(day)}}"  selected="{{'selected' if date.isToday(day) == 'today' else ''}}" value="{{day}}">{{date.getWeekDays(day)}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <label for="appointmentTime">Time:</label>
                    <select id="appointmentTime" name="appointmentTime" required>
                        {%for time in times%}
                            <option value="{{time}}">{{time}}</option>
                        {%endfor%}
                    </select>
                    <br>
                </div>
        
                <button id="bookNowBtn" type="submit">Book Now</button>
            </form>

        </section>

    {% else %}
    <p></p>
        <h1>YOU ALREADY HAVE AN APPOINTMENT</h1>
    {% endif %}

    <!-- <footer>
        <p>&copy; 2023 Service Selection System</p>
    </footer> -->

</body>

</html>