<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arc</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <div class="header">
        <div class="top">
            <div class="Logo"> The Arc</div>
            <ul>
                <a href="">Home</a>
                <a href="">Contact</a>
                <a href="">About Us</a>
            </ul>
        </div> 
        <div class="header-text">
            <h1>Salon Appointment System</h1>  
            <p class="header-paragraph">Click the button below to log in or sign up</p>  
            <div class="buttons">
                <button class="body-sign">Sign Up</button>
                <button class="login">Login</button>  
            </div>
                  
        </div>
    </div>
    
    <div class="body">
        <div class="body-text">Reviews</div>
        <div class="box-container">
            <div class="info">
                <div class="b-text">This system made the headache of getting my hair done a lot easier.  <strong> - Someones son</strong> </div>
            </div>
            <div class="info">
                <div class="b-text">The design is so modern and simple to use even for a lady as old as me. <strong> - Random mother</strong> </div>
            </div>
            <div class="info">
                <div class="b-text">After using this system i’m never going back, scheduling an appointment with my barber is one of the best things i’ve done this year. <strong> - Random Person</strong>  </div>
            </div>
            <div class="info">
                <div class="b-text">I really enjoyed using this system, it made getting a haircut feel a lot more premium and i don’t have to wait hours to get my haircut, i can just set a time i’m free and go. <strong>- Random guy</strong> </div>
            </div>
        </div>

    </div>
    <div class="body-2">
        <div class="text">
            <p class="quote">"Your day, your schedule. Book an appointment and make it extraordinary."</p>
            <p class="author"> - The Arc </p>
        </div>
    </div>
    <div class="body-3">
        <div class="container">
            <div class="container-text">
                <div class="time">It is TIME!</div>
                <p>Sign up for the Salon Appointment System by clicking the button</p>
            </div>
            <button class="signup">Sign Up</button>
        </div>
    </div>
    <div class="footer">
        Copyright © Arc 2022
    </div>
    
</body>
</html>